:root {
  --main-color: #fe8401;
  --light-color: #d4e4f7;
  --dark-color: #111418;
  --alt-dark-color: #171d22;
  --dark-color-ligthen: #aaa1;

  --gap: 1em;
  --border-radius: 5px;
  --opacity: .65;
  --bordered: 1px solid;
  --border-color: var(--dark-color-ligthen);

  --font-size-small: 85%;
  --font-size-base: clamp(.5rem, 1vw + .75rem, 1rem);
  --font-size-lg: clamp(1rem, 1vw + 1.15rem, 2rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: var(--dark-color);
}

body {
  margin: 0 auto;
  max-width: 990px;
  font-family: sans-serif;
  color: var(--light-color);
  background-color: var(--alt-dark-color);
  font-size: var(--font-size-base);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}
