---
import {SEO} from "astro-seo"
import Footer from "../layout/Footer.astro"
import Header from "../layout/Header.astro"
import Main from "../layout/Main.astro"
import "../styles/globals.css"
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>Richard Ramírez</title>
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<SEO 
			openGraph={{
				basic: {
					title: "Richard Ramírez",
					type: "website",
					url: "https://www.rrdev.me",
					image: "screenshot/rrdev.me.png"
				}
			}}
			twitter={{
        creator: "@rr69sport"
      }}
			extend={{
				link: [
					{ rel: "icon", href: "/favicon.svg" },
					{ rel: "canonical", href: "https://www.rrdev.me"}
				],
				meta: [
					{
						name: "twitter:image",
						content: "screenshot/rrdev.me.png"
					},
					{
						name: "twitter:title",
						content: "Richard Ramírez"
					},
					{
						name: "twitter:description",
						content: "Portfolio personal con información sobre mi y proyectos prácticos."
					}
				]
			}}
		/>
	</head>
	<body>
		<Header />
		<Main />
		<Footer />		
	</body>
</html>