---
import Footer from '../layout/Footer.astro'
import Header from '../layout/Header.astro'
import Main from '../layout/Main.astro'
import '../styles/globals.css'
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <title>Richard Ramírez</title>
    <meta name='viewport' content='width=device-width' />
    <link
      rel='icon'
      type='image/png'
      href='/favicon/dark/favicon.svg'
      media='(prefers-color-scheme: dark)'
    />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/favicon/dark/apple-touch-icon.png'
      media='(prefers-color-scheme: dark)'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/favicon/dark/favicon-32x32.png'
      media='(prefers-color-scheme: dark)'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/favicon/dark/favicon-16x16.png'
      media='(prefers-color-scheme: dark)'
    />
    <link
      rel='icon'
      type='image/png'
      href='/favicon/light/favicon.svg'
      media='(prefers-color-scheme: light)'
    />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/favicon/light/apple-touch-icon.png'
      media='(prefers-color-scheme: light)'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/favicon/light/favicon-32x32.png'
      media='(prefers-color-scheme: light)'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/favicon/light/favicon-16x16.png'
      media='(prefers-color-scheme: light)'
    />
    <link rel='manifest' href='/site.webmanifest' />

    <!-- HTML Meta Tags -->
    <meta name='author' content='Richard Ramírez' />
    <meta
      name='description'
      content='Portfolio personal con información sobre mi y proyectos prácticos.'
    />

    <!-- Facebook Meta Tags -->
    <meta property='og:url' content='https://www.rrdev.me/' />
    <meta property='og:type' content='website' />
    <meta property='og:title' content='Richard Ramírez' />
    <meta
      property='og:description'
      content='Portfolio personal con información sobre mi y proyectos prácticos.'
    />
    <meta
      property='og:image'
      content='https://rrdev-me.vercel.app/images/screenshots/rrdev.me-screenshot.webp'
    />

    <!-- Twitter Meta Tags -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta property='twitter:domain' content='rrdev.me' />
    <meta property='twitter:url' content='https://www.rrdev.me/' />
    <meta name='twitter:title' content='Richard Ramírez' />
    <meta
      name='twitter:description'
      content='Portfolio personal con información sobre mi y proyectos prácticos.'
    />
    <meta
      name='twitter:image'
      content='https://rrdev-me.vercel.app/images/screenshots/rrdev.me-screenshot.webp'
    />
  </head>
  <body>
    <Header />
    <Main />
    <Footer />
  </body>
</html>
