---
import ExternalLinkIcon from '../icons/ExternalLinkIcon.astro'
import type { LinkType } from '../types'

interface Props {
  links: LinkType[]
}

const { links } = Astro.props
---

<p>
  {
    links.map((link) => (
      <a href={link.url} rel='noopener' target='_blank'>
        {link.text} <ExternalLinkIcon />
      </a>
    ))
  }
</p>

<style>
  p {
    display: flex;
    gap: var(--gap);
  }
  a {
    display: flex;
    align-items: flex-end;
    padding: 0.35em 0.55em;
    color: var(--light-colot);
    font-weight: 700;
    opacity: var(--opacity);
    background-color: var(--dark-color-ligthen);
    border-radius: var(--border-radius);
  }
  a:hover {
    color: var(--main-color);
  }
</style>
