---
import ExternalLink from '../icons/ExternalLink.astro'

const {links} = Astro.props
---

<p>
  { links.map(link => <a href={link.url}>{link.text} <ExternalLink /></a>) }
</p>

<style>
  p {
    display: flex;
    gap: var(--gap)
  }
  a {
    display: flex;
    align-items: flex-end;
    padding: .35em .55em;
    color: var(--light-colot);
    font-weight: 700;
    opacity: var(--opacity);
    background-color: var(--dark-color-ligthen);
    border-radius: var(--border-radius);
  }
  a:hover {
    color: var(--main-color);
  }
</style>
