---
import ExternalLinkIcon from '../icons/ExternalLinkIcon.astro'
import type { LinkType } from '../types'

interface Props {
  links: LinkType[]
}

const { links } = Astro.props
---

<p>
  {
    links.map((link) => (
      <a href={link.url} rel='noopener' target='_blank'>
        {link.text} <ExternalLinkIcon width='20' height='20' />
      </a>
    ))
  }
</p>

<style>
  p {
    display: flex;
    gap: var(--gap);
  }
  a {
    display: flex;
    align-items: flex-end;
    padding: calc(var(--gap) / 2) var(--gap);
    color: var(--foreground-color);
    font-weight: var(--font-bold);
    opacity: var(--opacity);
    background-color: var(--background-color);
    border-radius: var(--border-radius);
  }
  a:hover {
    color: var(--main-color);
  }
</style>
