---
import ExternalLink from "../icons/ExternalLink.astro";

---

<ul>
  <li>
    <a href="https://www.linkedin.com/in/rrdevme/" target="_blank">
      LinkedIn
      <ExternalLink />
    </a>
  </li>
  <li>
    <a href="https://github.com/rr69sport" target="_blank">
      GitHub
      <ExternalLink />
    </a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap);
  }
  a {
    display: flex;
    align-items: flex-end;
    padding: .5em .75em;
    font-weight: 700;
    font-size: 110%;
    color: inherit;
    text-decoration: underline;
    background-color: var(--dark-color-ligthen);
    border-radius: var(--border-radius);
  }
  a:hover {
    color: var(--main-color);
  }

  @media screen and (min-width: 850px) {
    ul {
      position: absolute;
      bottom: var(--gap);
      right: var(--gap);
    }
  }
</style>
