---
import ExternalLinkIcon from '../icons/ExternalLinkIcon.astro'
---

<ul>
  <li>
    <a
      href='https://www.linkedin.com/in/rrdevme/'
      target='_blank'
      rel='noopener'>
      LinkedIn
      <ExternalLinkIcon />
    </a>
  </li>
  <li>
    <a href='https://github.com/rr69sport' target='_blank' rel='noopener'>
      GitHub
      <ExternalLinkIcon />
    </a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap);
  }
  a {
    display: flex;
    align-items: flex-end;
    padding: 0.5em 0.75em;
    font-weight: 700;
    font-size: 110%;
    color: inherit;
    text-decoration: underline;
    background-color: var(--dark-color-ligthen);
    border-radius: var(--border-radius);
  }
  a:hover {
    color: var(--main-color);
  }

  @media screen and (min-width: 850px) {
    ul {
      position: absolute;
      bottom: var(--gap);
      right: var(--gap);
    }
  }
</style>
