---
const { built } = Astro.props
---

{ built ? <ul>{built.map(tech => <li>{tech}</li>)}</ul> : '' }

<style>
  ul {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 65%;
    border-radius: 3px;
  }
  li {
    border-radius: 3px;
    opacity: .70;
    padding: .35em .5em;
    display: inline-block;
    background-color: var(--dark-color);
  }
</style>