---
const { built } = Astro.props
---

{ built ? <p>{built.map(tech => <span>{tech}</span>)}</p> : '' }

<style>
  p {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    font-size: 65%;
    background-color: var(--dark-color);
    border-radius: 3px;
  }
  span {
    border-radius: 3px;
    opacity: .70;
    padding: .35em .5em;
    display: inline-block;
    background-color: #ccc2;
  }
</style>