---
const { built } = Astro.props
---

{
  built ? (
    <ul>
      {built.map((tech) => (
        <li>{tech}</li>
      ))}
    </ul>
  ) : (
    ''
  )
}

<style>
  ul {
    /* margin-top: calc(var(--gap) * 2); */
    /* margin-bottom: calc(var(--gap) * 2); */
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 65%;
    border-radius: var(--border-radius);
  }
  li {
    border-radius: var(--border-radius);
    opacity: var(--opacity);
    padding: 0.35em 0.5em;
    display: inline-block;
    background-color: var(--dark-color);
  }
</style>
