<footer>
  <p>
    Hecho con: <a href='https://astro.build/' target='_blank' rel='noopener'
      >Astro.build</a
    > y <a href='https://tabler-icons.io/' ' target='_blank' rel='noopener'
      >tabler-icons.io</a
    >
  </p>
</footer>

<style>
  footer {
    padding: calc(var(--gap) * 2) 0;
    border-top: var(--bordered) var(--border-color);
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: var(--font-size-small);
    opacity: var(--opacity);
  }
  a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: var(--font-bold);
  }
  a:hover {
    text-decoration: underline;
  }
</style>
