---
import SocialMedia from '../components/SocialMedia.astro'
---

<header>
  <div class='container'>
    <div>
      <img
        class='avatar'
        src='/images/profile/rr.photo.webp'
        alt={`Foto de Richard Ramírez`}
      />
    </div>
    <div class='texts'>
      <h1>Richard Ramírez</h1>
      <h2>Desarrollador frontend</h2>
      <p class='bio'>
        Con experiencia en HTML, CSS, JavaScript, React, Next, Astro, Svelte,
        Git y GitHub.
      </p>
      <p class='bio'>
        Me encanta CSS plano o SASS pero no tengo problemas con aprender
        frameworks o librerías.
      </p>
      <SocialMedia />
    </div>
  </div>
</header>

<style>
  header {
    padding: var(--gap);
    /* border-bottom: var(--bordered) var(--border-color); */
  }
  h1 {
    margin-top: 0;
    line-height: 1;
    color: var(--main-color);
  }
  .avatar {
    padding: 2px;
    width: 100%;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: calc(var(--gap) * 2);
    border-radius: var(--border-radius);
  }

  .texts {
    position: relative;
    padding: var(--gap);
    border-radius: var(--border-radius);
    border: var(--bordered) var(--border-color);
    background-color: var(--alt-dark-color);
  }

  .bio {
    opacity: var(--opacity);
  }

  @media screen and (min-width: 850px) {
    header {
      padding-top: 0;
    }
    .container {
      display: flex;
      align-items: stretch;
      gap: var(--gap);
      padding: var(--gap) 0 0;
    }
    .avatar {
      width: 100%;
      max-width: 550px;
      margin: 0;
    }
  }
</style>
