---
import Projects from './Projects.astro'
import { personalProjects } from '../contents/projects.js'
---

<main>
  <h2>Algunos de mis proyectos prácticos</h2>
  <Projects title='Proyectos Personales' projects={personalProjects} />
</main>

<style>
  h2 {
    text-align: center;
  }
</style>
