---
import Project from '../components/Project.astro'
import type { ProjectType } from '../types'

interface Props {
  title: string
  projects: ProjectType[]
}

const { title, projects }: Props = Astro.props
---

<section>
  <h3>{title}</h3>
  {projects.map((project) => <Project project={project} />)}
</section>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--gap);
    padding: 0 var(--gap) var(--gap);
  }

  h3 {
    margin-bottom: calc(var(--gap) / 4);
    grid-column: 1 / -1;
    font-size: var(--font-size-lg);
    opacity: var(--opacity);
  }
</style>
